* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}

body {
	background-color: lightblue;
}

.App {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.container {
  width: 100%;
  margin-top: 10vh;
  padding-top: 30px;
	max-width: 350px;
  background-color: darkgray;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid darkgrey;
  box-shadow: 0px 2px 2px black;
}

.buttonBox {
  background-color: dimgray;
  margin: 30px;
  box-shadow: 0px 0px 10px 2px rgb(49, 49, 49);
  display: flex;
  flex: 1 1 1 33%;
  align-content: center;
  justify-content: center;
  flex-flow: row wrap-reverse;
}

button {
  font-size: 40px;
  padding: 10px;
  margin: 10px;
  cursor: crosshair;
  transition: 1s;
  min-width: 70px;
  max-width: 100px;
  border-radius: 5px;
}

.display {
  overflow: hidden;
  background-color: rgba(19, 32, 32, 0.8);
  box-shadow: 0px 0px 2px 5px;
  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
  color: rgba(0, 0, 0, 0.765);
  font-family: monospace;
  font-size: 40px;
}

